# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5f2a3a02938284e21e6dc7a62885de464d21df7586239e44e40baa9b034b97eeb8cbebf251afee7e247c71b2ba33be379d8cdf4e24f26558fb0b516bf0a2f943

test:
  secret_key_base: ec70b58f06136190ff273882ddd491f07e765bdb184d0a0fb58e561edb438d7aa8a8596662116969a2a33536170fdd1eb035e357126416391149fc2371451188

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
